### DotnetCore ###

# JetBrains
.idea/
*.iml
*.sln.iml

# .NET Core build folders
bin/
obj/
**/secrets.json
*.user
*.suo
*.cache

# Common node modules locations
/node_modules
/wwwroot/node_modules

#Enviroment variables
*.env
